<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>知乎云签到 / 后台 - ZheckIn</title>
    <link
      rel="stylesheet"
      href="<%= Digests.logical_path(%{/css/console.css}) %>"
    />
  </head>
  <body>
    <div id="app"></div>
    <script>
      var CURRENT_USER = <%= context.get("account").as(Model::Account).to_json %>;
    </script>
    <script
      type="text/javascript"
      src="<%= Digests.logical_path(%{/js/console.js}) %>"
    ></script>
  </body>
</html>
